.cool::before{
    content: "Hello, ";
    color: red;
    border: 2px solid black;
    padding: 4px;
    margin-right: 3px;
}
.cool::first-letter{
    font-size: x-large;
}
.main-heading::after{
    content: "End.";
    color: red;
    border: 2px solid black;
    padding: 4px;
    margin: 3px;
}