*{
    color: #000;
}
header{
    background-color: rgb(192, 202, 213);
}
section.my-articles{
    background-color: rgb(158, 228, 228);
}
header p{
    color: red;
}
ul li a{
    color: rgb(132, 0, 255);
}
section.my-articles>h2{
    color: #ff0000;
}
/* section.my-articles h2{
    color: coral;
} */
 section.my-articles h2+p{
    color: #ff0000;
 }